.navbar-nav {
    li a {
      position: relative;
      font-weight: bold;
  
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: #2d2c2c;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
        font-weight: bold;
      }
  
      &:hover::after {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }