.card-img {
    height: 310px;
  }
  
  .tarjetas {
    gap: 20px 0;
  }
  
  .tarjetas-productos {
    gap: 20px 0;
    height: 20px;
  }
  
  .card {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tarjetas-producto img {
    height: 16rem;
    margin-top: 1rem;
  }
  
  .card-compact {
    height: 100px;
  }