.texto-sustentabilidad {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
  }

  .texto-quienes-somos {
    margin-top: 100px;
    text-decoration: black solid;
    font-weight: bold;
    font-size: 20px;
  }